<!--
 
 offsetTo="left:{id:super,equal:10},top:{id:super,equal:10}"
 offsetTo:上下左右边距
 left:左边距 id:相对的view equal:像素值
 
 -->

<View
    id="contentView"
    width="320"
    height="500"
    centerInSuper="true"
    backgroundColor="255,211,155">

    <View
        id="subView"
        width="100"
        height="100"
        centerInSuper="true"
        backgroundColor="25,25,112"
        ></View>
    
    <View
        id="view2"
        width="100"
        height="100"
        offsetTo="left:{id:super,equal:10},top:{id:super,equal:10}"
        backgroundColor="67,205,128"
        ></View>
</View>
