<!--
 
 offsetTo="left:{id:super,equal:10},top:{id:super,equal:10}"
 offsetTo:上下左右边距
 left:左边距 id:相对的view equal:像素值
 
 -->

<View
    id="contentView"
    offsetTo="left:{id:super,equal:0},right:{id:super,equal:0},top:{id:super,equal:0},bottom:{id:super,equal:0}"
    backgroundColor="255,211,155">

    <View
        id="subView"
        width="100"
        height="100"
        centerInSuper="true"
        backgroundColor="25,25,112"
        ></View>
    
    <View
        id="view2"
        width="100"
        height="100"
        offsetTo="left:{id:super,equal:10},top:{id:super,equal:10}"
        backgroundColor="67,205,128"
        ></View>
    
    <Label width="10" height="10" ></Label>
    
    <Label width="10" height="10" ></Label>
</View>
