<Style>
    <class id="main">
        <backgroundColor>255,211,155</backgroundColor>
        <borderColor>255,211,155</borderColor>
    </class>
    <class id="redColor">
        <backgroundColor>255,0,0</backgroundColor>
    </class>
    <class id="btnClz">
        <backgroundColor>255,0,0</backgroundColor>
        <titleForNormal>点我</titleForNormal>
        <titleColorForNormal>255,255,255</titleColorForNormal>
    </class>
</Style>
